* {

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {

    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0;
 
}

ul {

    list-style: none;
    display: flex;
}

button {

    color: white;
    background-color: #3882F6;
    padding: 6px 32px;
    border-radius: 8px;
    border-style: none;
    margin-top: 8px;
    cursor: pointer;
}

button:hover {

    color: white;
    background-color: #005ff8;
    padding: 6px 32px;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}

a {

    text-decoration: none;
    color: #E5E7EB;
}

h1 {

    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

h2 {

    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

h3 {

    font-weight: bolder;
    font-size: 24px;
    color: white;
}

.wrapper-top {

    background-color: #1F2937;
    padding: 0 20% 75px 20%;
    margin: auto;
}
.header {

    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    flex-shrink: 1;
    flex-grow: 1;
}

.header-links {

    font-size: 18px;
    gap: 16px;
}

.hero {

    display: flex;
    background-color: #1F2937;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    padding-bottom: 75px;
}

.hero-main {

    display: flex;
    flex-direction: column;
    flex-basis: auto;
    align-items: flex-start;
    margin-top: 100px;
}

.hero-main-text {
    flex-wrap: wrap;
}

.hero-secondary-text {

    font-size: 18px;
    color: #E5E7EB;
    flex-wrap: wrap;
}

.hero-placeholder-container {

    display: flex;
    background-color: dimgray;
    margin-left: 75px;
    margin-top: 100px;
}

.hero-placeholder-image {

    color: #E5E7EB;
    width: 700px;
    height: 300px;
}



.wrapper-information {
    background-color: white;
    padding: 5% 20% 10% 20%;
    margin: auto;
}

.information-main-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container {

    display: flex;
    padding: 0%;
    margin: 0px;
    gap: 32px
}

.box-image {
    width: 200px;
    height: auto;
    border: solid #3882F6;
    border-radius: 8px;
    margin: 0;
    padding: 0;
}

.information-secondary-text {
    font-size: 18px;
    padding: 0 1rem 0 1rem;
}

.box {
    text-align: center;
}

.wrapper-quote {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 20% 10% 20%;
    background-color: #E5E7EB;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    font-weight: bold;
    color: #1F2937;
}

.wrapper-call-to-action {

    padding: 10% 20% 10% 20%;

}

.call-to-action-container {
    display: flex;
    flex-direction: column;
    padding: 30px 10% 30px 10%;
    background-color: #3882F6;
    border-radius: 8px;
}

.call-to-action-container-right {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.call-to-action-button {

    border: 1px solid white;
    margin-top: 0px;
}

.call-to-action-button:hover {
    border: 1px solid white;
    margin-top: 0px;
}


.call-to-action-main-text {
    color: #E5E7EB;
    font-weight: 700;
}

.call-to-action-secondary-text {
    color: #E5E7EB;
}

.footer {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 25px 25px;
    align-items: center;
    justify-content: center;
}